---
# "A1 Expand Filesystem" "Ensures that all of the SD card is available" \
# TODO: see if we can figure out whether or not this changes
- name: Expand root filesystem 
  shell: raspi-config nonint do_expand_rootfs
  notify: Reboot 
  when: raspi_config_expand_filesystem
  tags: 
  - raspi_config:advanced:expand_filesystem

# "A2 GL Driver" "Enable/disable experimental desktop GL driver" \
# "A3 Compositor" "Enable/disable xcompmgr composition manager" \
- name: Get xcompmgr status
  stat:
    path: /etc/xdg/autostart/xcompmgr.desktop
  register: xcompmgr_installed
  tags:
  - raspi_config:advanced:xcompmgr
  - raspi_config:advanced:xcompmgr:enable
  - raspi_config:advanced:xcompmgr:disable

- name: Enable xcompmgr composition manager 
  shell: raspi-config nonint do_xcompmgr 0
  notify: Reboot
  changed_when: not xcompmgr_installed.stat.exists
  when: raspi_config_enable_xcompmgr
  tags: 
  - raspi_config:advanced:xcompmgr
  - raspi_config:advanced:xcompmgr:enable

- name: Disable xcompmgr composition manager
  shell: raspi-config nonint do_xcompmgr 1
  notify: Reboot
  changed_when: xcompmgr_installed.stat.exists
  when: not raspi_config_enable_xcompmgr
  tags: 
  - raspi_config:advanced:xcompmgr
  - raspi_config:advanced:xcompmgr:disable

# "A4 Network Interface Names" "Enable/disable predictable network i/f names" \
- name: Get current status of predictable network names
  shell: raspi-config nonint get_net_names
  register: net_names_status
  changed_when: false
  tags:
  - raspi_config:advanced:net_names
  - raspi_config:advanced:net_names:enable
  - raspi_config:advanced:net_names:disable

- name: Enable predictable network names
  shell: raspi-config nonint do_net_names 0
  changed_when: net_names_status.stdout|int == 1
  when: raspi_config_enable_predictable_net_names
  tags:
  - raspi_config:advanced:net_names
  - raspi_config:advanced:net_names:enable

- name: Disable predictable network names
  shell: raspi-config nonint do_net_names 1
  changed_when: net_names_status.stdout|int == 0
  when: not raspi_config_enable_predictable_net_names
  tags:
  - raspi_config:advanced:net_names
  - raspi_config:advanced:net_names:disable

# "A5 Network Proxy Settings" "Configure network proxy settings" \
# "A6 Boot Order" "Choose network or USB device boot" \
# "A7 Bootloader Version" "Select latest or default boot ROM software" \
# "A8 Glamor" "Enable/disable glamor graphics acceleration" \
# TODO: only available for some Pis
- name: Get current glamor graphics acceleration status
  stat:
    path: /usr/share/X11/xorg.conf.d/20-noglamor.conf
  register: glamor_graphics_status  # if file exists, glamor is disabled
  tags: 
  - raspi_config:advanced:glamor
  - raspi_config:advanced:glamor:enable
  - raspi_config:advanced:glamor:disable

- name: Enable glamor graphics acceleration 
  shell: raspi-config nonint do_glamor 0
  changed_when: glamor_graphics_status.stat.exists
  when: raspi_config_enable_glamor
  tags: 
  - raspi_config:advanced:glamor 
  - raspi_config:advanced:glamor:enable 

- name: Disable glamor graphics acceleration
  shell: raspi-config nonint do_glamor 1
  changed_when: not glamor_graphics_status.stat.exists
  when: not raspi_config_enable_glamor
  tags: 
  - raspi_config:advanced:glamor 
  - raspi_config:advanced:glamor:disable 

# "A9 Wayland" "Enable experimental Wayland backend" \
- name: Check experimental Wayland status
  lineinfile:
    regexp: ^user-session=LXDE-pi-wayland
    # regexp: lock
    path: /etc/lightdm/lightdm.conf
    state: absent
  check_mode: true  # don't make any change, just see if the line exists
  changed_when: false
  register: wayland_status
  tags: 
  - raspi_config:advanced:wayland
  - raspi_config:advanced:wayland:enable
  - raspi_config:advanced:wayland:disable

- name: Enable experimental Wayland backend
  shell: raspi-config nonint do_wayland 0
  notify: Reboot 
  changed_when: wayland_status.found == 0
  when: raspi_config_enable_wayland
  tags: 
  - raspi_config:advanced:wayland
  - raspi_config:advanced:wayland:enable

- name: Disable experimental Wayland backend
  shell: raspi-config nonint do_wayland 1
  notify: Reboot 
  changed_when: wayland_status.found > 0
  when: not raspi_config_enable_wayland
  tags: 
  - raspi_config:advanced:wayland
  - raspi_config:advanced:wayland:disable

# "AA Network Config" "Set network configuration tool" \

# vars: 
# - raspi_config_enable_xcompmgr: false  # TODO: find correct default 
# - raspi_config_use_latest_boot_rom_software: true  # TODO: find correct default 
# - raspi_config_enable_glamor: false
# - raspi_config_enable_wayland: false 
# # valid options: 'dhcpcd', 'NetworkManager'
# - raspi_config_network_config_tool: NetworkManager  # TODO: find correct default


# GL driver  # TODO: finish this 
#   - might not be compatible with CLI options 
#   - only available on certain Pis
# - name: Enable experimental desktop GL driver
#   shell: raspi-config do_gldriver 
#   notify: reboot  # TODO: see if this behaves correctly


# network proxy settings 
# TODO: figure out how to order these
# - name: Update HTTP proxy address
#   shell: raspi-config nonint do_proxy http {{ raspi_config_http_proxy_address }}
#   when: 
#   tags: 
#   - raspi_config:advanced:proxy

# # boot order 
# # TODO: handle three cases: sd card, usb stick, network 

# # boot loader
# # TODO: figure out how to handle resetting defaults  
# - name: Use the latest version of the boot ROM software 
#   shell: raspi-config do_boot_rom E1
#   when: raspi_config_use_latest_boot_rom_software
#   tags: 'test'

# # wayland 


# # network config 
# - name: Set NetworkManager as network configuration tool
#   shell: raspi-config nonint do_netconf 2
#   notify: reboot  # TODO: make sure this works 
#   when: raspi_config_network_config_tool == 'NetworkManager'
#   tags: 
#   - raspi_config:advanced:network_config
#   - raspi_config:advanced_network_config:network_manager

# - name: Set dhcpcd as network configuration tool
#   shell: raspi-config nonint do_netconf 1
#   notify: reboot  # TODO: make sure this works 
#   when: raspi_config_network_config_tool == 'dhcpcd'
#   tags: 
#   - raspi_config:advanced:network_config
#   - raspi_config:advanced_network_config:dhcpcd
