---

### boot behavior
# all of the tasks here are intertwined
# valid values for raspi_config_boot_behavior include:
#    console
#    console_autologin
#    desktop
#    desktop_autologin

- name: Set non-graphical boot
  shell: "systemctl set-default multi-user.target"
  when: raspi_config_boot_behavior == 'console' or raspi_config_boot_behavior == 'console_autologin'
  tags: ['raspi_config:boot:behavior']

- name: Make sure lightdm is installed for graphical boot
  apt:
    name: lightdm
    state: present
  when: raspi_config_boot_behavior == 'desktop' or raspi_config_boot_behavior == 'desktop_autologin'
  tags: ['raspi_config:boot:behavior']

- name: Set graphical boot
  shell: "systemctl set-default graphical.target"
  when: raspi_config_boot_behavior == 'desktop' or raspi_config_boot_behavior == 'desktop_autologin'
  tags: ['raspi_config:boot:behavior']

- name: Create a symlink to getty@.service
  file:
    path: /etc/systemd/system/getty.target.wants/getty@tty1.service
    src: /lib/systemd/system/getty@.service
    owner: root
    group: root
    state: link
    force: yes
  tags: ['raspi_config:boot:behavior']

- name: Disable getty autologin
  file:
    path: /etc/systemd/system/getty@tty1.service.d/autologin.conf
    state: absent
  when: raspi_config_boot_behavior == 'console' or raspi_config_boot_behavior == 'desktop'
  tags: ['raspi_config:boot:behavior']

- name: Enable getty autologin
  template:
    src: boot/autologin.conf.j2
    dest: /etc/systemd/system/getty@tty1.service.d/autologin.conf
    owner: root
    group: root
    mode: 0644
  when: raspi_config_boot_behavior == 'console_autologin' or raspi_config_boot_behavior == 'desktop_autologin'
  tags: ['raspi_config:boot:behavior']

- name: Disable lightdm autologin
  lineinfile:
    path: /etc/lightdm/lightdm.conf
    line: "#autologin-user="
    regex: "^#?autologin-user="
  when: raspi_config_boot_behavior == 'desktop'
  tags: ['raspi_config:boot:behavior']

- name: Enable lightdm autologin
  lineinfile:
    path: /etc/lightdm/lightdm.conf
    line: "autologin-user={{ raspi_config_boot_autologin_user }}"
    regex: "^#?autologin-user="
  when: raspi_config_boot_behavior == 'desktop_autologin'
  tags: ['raspi_config:boot:behavior']

### wait on network

# enable wait on network

- name: Create directory for conf file
  file:
    path: /etc/systemd/system/dhcpcd.service.d/
    owner: root
    group: root
    mode: 0755
    state: directory
    recurse: yes
  when: raspi_config_wait_on_network
  tags: ['raspi_config:boot:wait_on_network']

- name: Copy dhcpcd service conf
  copy:
    src: files/boot/wait.conf
    dest: /etc/systemd/system/dhcpcd.service.d/wait.conf
    owner: root
    group: root
    mode: 0644
  when: raspi_config_wait_on_network
  tags: ['raspi_config:boot:wait_on_network']

# disable wait on network

- name: Remove dhcpcd service conf
  file:
    path: /etc/systemd/system/dhcpcd.service.d/wait.conf
    state: absent
  when: not raspi_config_wait_on_network
  tags: ['raspi_config:boot:wait_on_network']

### splash screen
