---

# "D1 Resolution" "Set a specific screen resolution" \
# "D2 Underscan" "Remove black border around screen" \
# "D3 Pixel Doubling" "Enable/disable 2x2 pixel mapping" \
# "D4 Screen Blanking" "Enable/disable screen blanking" \
# "D5 VNC Resolution" "Set resolution for headless use" \
# "D6 Composite" "Set options for composite output" \
