---

# "D1 Resolution" "Set a specific screen resolution" \
# TODO: test on an rPi > 0
- name: Need to implement Resolution option
  debug:
    msg: "TODO: implement"

# "D2 Underscan" "Remove black border around screen" \
# "D3 Pixel Doubling" "Enable/disable 2x2 pixel mapping" \
# TODO: test on an rPi > 0
- name: Need to implement Pixel Doubling option
  debug:
    msg: "TODO: implement"

# "D4 Screen Blanking" "Enable/disable screen blanking" \
# "D5 VNC Resolution" "Set resolution for headless use" \
- name: Get current VNC resolution
  shell: raspi-config nonint get_vnc_resolution
  changed_when: false
  register: vnc_resolution
  tags:
  - raspi_config:display:vnc_resolution

- name: Update VNC resolution
  shell: raspi-config nonint do_vnc_resolution {{ raspi_config_vnc_resolution }}
  changed_when: vnc_resolution.stdout != raspi_config_vnc_resolution
  notify: Reboot
  tags:
  - raspi_config:display:vnc_resolution

# "D6 Composite" "Set options for composite output" \
- name: Get current composite video output state
  shell: raspi-config nonint get_composite
  register: composite_state
  changed_when: false
  tags:
  - raspi_config:display:composite
  - raspi_config:display:composite:enable
  - raspi_config:display:composite:disable

- name: Enable composite video output
  shell: raspi-config nonint do_composite 0
  changed_when: composite_state.stdout|int == 1
  when: raspi_config_enable_composite_video
  notify: Reboot
  tags:
  - raspi_config:display:composite
  - raspi_config:display:composite:enable

- name: Disable composite video output
  shell: raspi-config nonint do_composite 1
  changed_when: composite_state.stdout|int == 0
  when: not raspi_config_enable_composite_video
  notify: Reboot
  tags:
  - raspi_config:display:composite
  - raspi_config:display:composite:disable
