---

### Changing locale

- name: Check current locale
  shell: "echo $LANG"
  register: current_lang
  changed_when: no
  tags: ['raspi_config:localization:locale']

- name: Make sure target locale is valid
  shell: "grep \"^{{ raspi_config_locale }} \" /usr/share/i18n/SUPPORTED"
  register: locale_valid
  changed_when: no
  when: current_lang.stdout != raspi_config_locale
  tags: ['raspi_config:localization:locale']
  
- name: Update encoding in /etc/locale.gen
  lineinfile:
    path: /etc/locale.gen
    line: "{{ locale_valid.stdout }}"
    regexp: "^#? ?{{ locale_valid.stdout }}"
  when: current_lang.stdout != raspi_config_locale
  tags: ['raspi_config:localization:locale']

- name: Update encoding in /etc/default/locale
  lineinfile:
    path: /etc/default/locale
    line: "LANG=\"{{ raspi_config_locale }}\""
    regexp: "LANG="
  when: current_lang.stdout != raspi_config_locale
  tags: ['raspi_config:localization:locale']

# TODO: look into using debconf package instead
- name: Finish locale reconfigure
  shell: "dpkg-reconfigure -f noninteractive locales"
  when: current_lang.stdout != raspi_config_locale
  tags: ['raspi_config:localization:locale']


### Changing timezone

- name: Check current time zone
  shell: "cat /etc/timezone"
  register: current_time_zone
  changed_when: no
  tags: ['raspi_config:localization:timezone']

- name: Check if new time zone exists
  stat:
    path: "/usr/share/zoneinfo/{{ raspi_config_time_zone }}"
  when: current_time_zone.stdout != raspi_config_time_zone
  tags: ['raspi_config:localization:timezone']

- name: Update time zone
  lineinfile:
    path: /etc/timezone
    line: "{{ raspi_config_time_zone }}"
    regexp: "^"
  when: current_time_zone.stdout != raspi_config_time_zone
  tags: ['raspi_config:localization:timezone']

- name: Delete /etc/localtime
  file:
    path: /etc/localtime
    state: absent
  when: current_time_zone.stdout != raspi_config_time_zone
  tags: ['raspi_config:localization:timezone']

- name: Finish time zone reconfigure
  shell: "dpkg-reconfigure -f noninteractive tzdata"
  when: current_time_zone.stdout != raspi_config_time_zone
  tags: ['raspi_config:localization:timezone']


#- name: Changing keyboard layout

#- name: Changing wifi country

