---

- name: Get Raspberry Pi Model
  ansible.builtin.command: raspi-config nonint get_pi_type
  register: rpi_model
  changed_when: false
  tags:
  - always

- import_tasks: system.yml
  tags: ['raspi_config', 'raspi_config:system']

- import_tasks: display.yml
  tags: ['raspi_config', 'raspi_config:display']

- import_tasks: interface.yml
  tags: ['raspi_config', 'raspi_config:interface']

- import_tasks: performance.yml
  tags: ['raspi_config', 'raspi_config:performance']

- import_tasks: localization.yml
  tags: ['raspi_config', 'raspi_config:localization']

- import_tasks: advanced.yml
  tags: ['raspi_config', 'raspi_config:advanced']

- name: Disable raspi-config at boot
  file:
    path: "{{ item }}"
    state: absent
  with_items:
    - /etc/profile.d/raspi-config.sh
    - /etc/systemd/system/getty@tty1.service.d/raspi-config-override.conf
  tags: 
  - always
