---




### Updating wifi

- name: Update wpa_supplicant config
  template:
    src: networking/wpa_supplicant.conf.j2
    dest: /etc/wpa_supplicant/wpa_supplicant.conf
    owner: root
    group: root
    mode: 0600
  notify: Restart wpa_supplicant
  tags: ['raspi_config:networking:wifi']

