---

# "S1 Wireless LAN" "Enter SSID and passphrase" \
# "S2 Audio" "Select audio out through HDMI or 3.5mm jack" \
# "S3 Password" "Change password for the '$USER' user" \
- name: Change user's password
  user:
    name: "{{ raspi_config_user }}"
    password: "{{ raspi_config_password | password_hash('sha512') }}"
  tags:
  - raspi_config:system:password

# "S4 Hostname" "Set name for this computer on a network" \
- name: Get current hostname
  shell: raspi-config nonint get_hostname
  changed_when: false
  register: current_hostname
  tags:
  - raspi_config:system:hostname

- name: Update hostname
  shell: raspi-config nonint do_hostname {{ raspi_config_hostname }}
  when: current_hostname.stdout != raspi_config_hostname
  notify: Reboot
  tags:
  - raspi_config:system:hostname

# "S5 Boot / Auto Login" "Select boot into desktop or to command line" \
- name: Install lightdm if booting to desktop
  apt:
    name: lightdm
    state: present
  when: raspi_config_boot_behavior == "desktop" or
    raspi_config_boot_behavior == "desktop_autologin"
  tags:
  - raspi_config:system:boot_behavior

# TODO figure out if there's a way to actually detect a change here
#  so we don't need to reboot each time this step is run
- name: Update boot behavior
  shell: raspi-config nonint do_boot_behaviour {{ RASPI_CONFIG_BOOT_BEHAVIOR[raspi_config_boot_behavior] }}
  tags:
  - raspi_config:system:boot_behavior
  notify: Reboot

# "S6 Network at Boot" "Select wait for network connection on boot" \
# "S7 Splash Screen" "Choose graphical splash screen or text boot" \
- name: Make sure splash screen is installed
  stat:
    path: /usr/share/plymouth/themes/pix/pix.script
  register: is_splash_installed
  tags:
  - raspi_config:system:splash_screen
  - raspi_config:system:splash_screen:enable
  - raspi_config:system:splash_screen:disable

- name: Get current splash screen status
  shell: raspi-config nonint get_boot_splash
  register: splash_config
  changed_when: false
  when: is_splash_installed.stat.exists
  tags:
  - raspi_config:system:splash_screen
  - raspi_config:system:splash_screen:enable
  - raspi_config:system:splash_screen:disable

- name: Enable splash screen at boot
  shell: raspi-config nonint do_boot_splash 0
  changed_when: splash_config.stdout|int == 1
    raspi_config_enable_boot_splash_screen and
    splash_config.stdout|int == 1
  tags: 
  - raspi_config:system:splash_screen
  - raspi_config:system:splash_screen:enable

- name: Disable splash screen at boot
  shell: raspi-config nonint do_boot_splash 1
  when: is_splash_installed.stat.exists and
    not raspi_config_enable_boot_splash_screen and
    splash_config.stdout|int == 0
  tags: 
  - raspi_config:system:splash_screen
  - raspi_config:system:splash_screen:disable

# "S8 Power LED" "Set behaviour of power LED" \
# TODO: can't be changed for Pi0
- name: Get current default LED behavior
  shell: raspi-config nonint get_leds
  changed_when: false
  register: led_status
  tags:
  - raspi_config:system:power_led
  - raspi_config:system:power_led:enable
  - raspi_config:system:power_led:disable

- name: Message about LED status
  debug: 
    msg: "It's not possible to update the LED behavior on this type of Raspberry Pi"
  when: led_status.stdout|int == -1
  tags:
  - raspi_config:system:power_led
  - raspi_config:system:power_led:enable
  - raspi_config:system:power_led:disable

- name: Power LED enable flash during activity 
  shell: raspi-config nonint do_leds 0
  when: raspi_config_power_led_flash_during_activity and led_status.stdout|int > -1
  changed_when: led_status.stdout|int == 1
  tags: 
  - raspi_config:system:power_led
  - raspi_config:system:power_led:enable
  
- name: Power LED always on (disable flash during activity)
  shell: raspi-config nonint do_leds 1
  changed_when: led_status.stdout|int == 0
  when: not raspi_config_power_led_flash_during_activity and led_status.stdout|int > -1
  tags: 
  - raspi_config:system:power_led
  - raspi_config:system:power_led:disable

