---

# wireless LAN
# TODO: get from networking 

# audio 
# TODO: figure out how audio works 

# password 
- name: Change user's password
  user:
    name: "{{ raspi_config_user }}"
    password: "{{ raspi_config_password | password_hash('sha512') }}"
  tags:
  - taspi_config:system:password

### Updating hostname

- name: Check current hostname
  shell: "cat /etc/hostname"
  changed_when: no
  register: hostname
  tags: 
  - raspi_config:system:hostname

- name: Change hostname
  lineinfile:
    path: /etc/hostname
    line: "{{ raspi_config_hostname }}"
    regexp: ".*"
  when: hostname.stdout != raspi_config_hostname
  notify: Reboot
  tags: 
  - raspi_config:system:hostname

- name: Update hostname in /etc/hosts
  lineinfile:
    path: /etc/hosts
    line: "127.0.1.1\t{{ raspi_config_hostname }}"
    regexp: "^127.0.1.1.*{{ hostname.stdout }}"
  when: hostname.stdout != raspi_config_hostname
  notify: Reboot
  tags: 
  - raspi_config:system:hostname
# boot / autologin 

# network at boot 

# splash screen

- name: Enable splash screen at boot
  shell: raspi-config nonint do_boot_splash 0
  when: raspi_config_enable_boot_splash_screen
  tags: 
  - raspi_config:system:splash_screen
  - raspi_config:system:splash_screen:enable

- name: Disable splash screen at boot
  shell: raspi-config nonint do_boot_splash 1
  when: not raspi_config_enable_boot_splash_screen
  tags: 
  - raspi_config:system:splash_screen
  - raspi_config:system:splash_screen:disable

# power LED
- name: Power LED enable flash during activity 
  shell: raspi-config nonint do_leds 0
  when: raspi_config_power_led_flash_during_activity
  tags: 
  - raspi_config:system:power_led
  - raspi_config:system:power_led:enable
  
- name: Power LED disable flash during activity 
  shell: raspi-config nonint do_leds 0
  when: not raspi_config_power_led_flash_during_activity
  tags: 
  - raspi_config:system:power_led
  - raspi_config:system:power_led:disable
