---

# wireless LAN
# TODO: get from networking 

# audio 
# TODO: figure out how audio works 

# password 
- name: Change user's password
  user:
    name: "{{ raspi_config_user }}"
    password: "{{ raspi_config_password | password_hash('sha512') }}"
  tags:
  - raspi_config:system:password

### Updating hostname

- name: Check current hostname
  shell: "cat /etc/hostname"
  changed_when: no
  register: hostname
  tags: 
  - raspi_config:system:hostname

- name: Change hostname
  lineinfile:
    path: /etc/hostname
    line: "{{ raspi_config_hostname }}"
    regexp: ".*"
  when: hostname.stdout != raspi_config_hostname
  notify: Reboot
  tags: 
  - raspi_config:system:hostname

- name: Update hostname in /etc/hosts
  lineinfile:
    path: /etc/hosts
    line: "127.0.1.1\t{{ raspi_config_hostname }}"
    regexp: "^127.0.1.1.*{{ hostname.stdout }}"
  when: hostname.stdout != raspi_config_hostname
  notify: Reboot
  tags: 
  - raspi_config:system:hostname

### boot behavior
# all of the tasks here are intertwined
# valid values for raspi_config_boot_behavior include:
#    console
#    console_autologin
#    desktop
#    desktop_autologin

- name: Set non-graphical boot
  shell: "systemctl set-default multi-user.target"
  when: raspi_config_boot_behavior == 'console' or raspi_config_boot_behavior == 'console_autologin'
  tags: 
  - raspi_config:system:behavior

- name: Make sure lightdm is installed for graphical boot
  apt:
    name: lightdm
    state: present
  when: raspi_config_boot_behavior == 'desktop' or raspi_config_boot_behavior == 'desktop_autologin'
  tags: 
  - raspi_config:system:behavior

- name: Set graphical boot
  shell: "systemctl set-default graphical.target"
  when: raspi_config_boot_behavior == 'desktop' or raspi_config_boot_behavior == 'desktop_autologin'
  tags: 
  - raspi_config:system:behavior

- name: Create a symlink to getty@.service
  file:
    path: /etc/systemd/system/getty.target.wants/getty@tty1.service
    src: /lib/systemd/system/getty@.service
    owner: root
    group: root
    state: link
    force: yes
  tags: 
  - raspi_config:system:behavior

- name: Disable getty autologin
  file:
    path: /etc/systemd/system/getty@tty1.service.d/autologin.conf
    state: absent
  when: raspi_config_boot_behavior == 'console' or raspi_config_boot_behavior == 'desktop'
  tags: 
  - raspi_config:system:behavior

- name: Enable getty autologin
  template:
    src: boot/autologin.conf.j2
    dest: /etc/systemd/system/getty@tty1.service.d/autologin.conf
    owner: root
    group: root
    mode: 0644
  when: raspi_config_boot_behavior == 'console_autologin' or raspi_config_boot_behavior == 'desktop_autologin'
  tags: 
  - raspi_config:system:behavior

- name: Disable lightdm autologin
  lineinfile:
    path: /etc/lightdm/lightdm.conf
    line: "#autologin-user="
    regex: "^#?autologin-user="
  when: raspi_config_boot_behavior == 'desktop'
  tags: 
  - raspi_config:system:behavior

- name: Enable lightdm autologin
  lineinfile:
    path: /etc/lightdm/lightdm.conf
    line: "autologin-user={{ raspi_config_boot_autologin_user }}"
    regex: "^#?autologin-user="
  when: raspi_config_boot_behavior == 'desktop_autologin'
  tags: 
  - raspi_config:system:behavior

### network at boot 
# enable wait on network

- name: Create directory for conf file
  file:
    path: /etc/systemd/system/dhcpcd.service.d/
    owner: root
    group: root
    mode: 0755
    state: directory
    recurse: yes
  when: raspi_config_wait_on_network
  tags: 
  - raspi_config:system:wait_on_network
  - raspi_config:system:wait_on_network:enable

- name: Copy dhcpcd service conf
  copy:
    src: files/boot/wait.conf
    dest: /etc/systemd/system/dhcpcd.service.d/wait.conf
    owner: root
    group: root
    mode: 0644
  when: raspi_config_wait_on_network
  tags: 
  - raspi_config:system:wait_on_network
  - raspi_config:system:wait_on_network:enable

# disable wait on network

- name: Remove dhcpcd service conf
  file:
    path: /etc/systemd/system/dhcpcd.service.d/wait.conf
    state: absent
  when: not raspi_config_wait_on_network
  tags: 
  - raspi_config:system:wait_on_network
  - raspi_config:system:wait_on_network:disable

# splash screen

- name: Enable splash screen at boot
  shell: raspi-config nonint do_boot_splash 0
  when: raspi_config_enable_boot_splash_screen
  tags: 
  - raspi_config:system:splash_screen
  - raspi_config:system:splash_screen:enable

- name: Disable splash screen at boot
  shell: raspi-config nonint do_boot_splash 1
  when: not raspi_config_enable_boot_splash_screen
  tags: 
  - raspi_config:system:splash_screen
  - raspi_config:system:splash_screen:disable

# power LED
- name: Power LED enable flash during activity 
  shell: raspi-config nonint do_leds 0
  when: raspi_config_power_led_flash_during_activity
  tags: 
  - raspi_config:system:power_led
  - raspi_config:system:power_led:enable
  
- name: Power LED disable flash during activity 
  shell: raspi-config nonint do_leds 0
  when: not raspi_config_power_led_flash_during_activity
  tags: 
  - raspi_config:system:power_led
  - raspi_config:system:power_led:disable
