---

- name: Reboot
  # reboot:  #comment out for now for faster testing
  ansible.builtin.debug:
    msg: "Reboot would have happened now"

- name: Restart wpa_supplicant
  ansible.builtin.service:
    name: wpa_supplicant
    state: restarted
